<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person1" class="com.lzc.bean.cyclelife.Person" init-method="myInit" destroy-method="myDestroy">
        <property name="name" value="jack"/>
    </bean>
    <!--<bean id="person2" class="com.lzc.bean.cyclelife.Person" init-method="myInit" destroy-method="myDestroy">-->
        <!--<property name="name" value="jack"/>-->
    <!--</bean>-->

    <!-- 配置自定义的后置处理器 -->
    <bean id="postProcessor" class="com.lzc.bean.cyclelife.MyBeanPostProcessor"/>

</beans>